In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
executable_path = {'executable_path': '/Users/davidcdainko/Desktop/Northwestern/NUCHI201811DATA2//chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html,"html.parser")

NASA Mars News

In [5]:
title = soup.find('div', class_='content_title').text
para = soup.find('div', class_='article_teaser_body').text

In [6]:
print(title)
print(para)

After a Reset, Curiosity Is Operating Normally
NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer.

JPL Mars Space Images - Featured Image

In [7]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [8]:
html = browser.html
soup = bs(html,"html.parser")

In [9]:
container = soup.find('div', class_='carousel_container')
print(container)

<div class="carousel_container">
<div class="carousel_items">
<article alt="Galaxy Cluster IDCS J1426" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA20063-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Galaxy Cluster IDCS J1426				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="Astronomers have made the most detailed study yet of an extremely massive young galaxy cluster using three of NASA's Great Observatories. This rare galaxy cluster, located 10 billion light-years from Earth, is almost as massive as 500 trillion suns." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA20063_ip.jpg" data-link="/spaceimages/details.php?id=PIA20063" data-title="Galaxy Cluster IDCS J1426" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>
</div>
</div>

In [10]:
article = soup.find('article', class_='carousel_item')
print(article)

<article alt="Galaxy Cluster IDCS J1426" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA20063-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Galaxy Cluster IDCS J1426				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="Astronomers have made the most detailed study yet of an extremely massive young galaxy cluster using three of NASA's Great Observatories. This rare galaxy cluster, located 10 billion light-years from Earth, is almost as massive as 500 trillion suns." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA20063_ip.jpg" data-link="/spaceimages/details.php?id=PIA20063" data-title="Galaxy Cluster IDCS J1426" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>

In [11]:
style = article['style']
print(style)

background-image: url('/spaceimages/images/wallpaper/PIA20063-1920x1200.jpg');

In [12]:
featured_image_url = style.replace("background-image: url(\'","https://www.jpl.nasa.gov")
featured_image_url = style.replace("');","")
print(featured_image_url)

background-image: url('/spaceimages/images/wallpaper/PIA20063-1920x1200.jpg

In [13]:
# featured_image_url = style.replace("background-image: url(\'","https://www.jpl.nasa.gov")
featured_image_url = style.replace("background-image: url('","https://www.jpl.nasa.gov")
featured_image_url

"https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA20063-1920x1200.jpg');"

In [14]:
# featured_image_url = style.replace("');","")
featured_image_url = featured_image_url.replace("');","")
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA20063-1920x1200.jpg'

Mars Weather

In [15]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)
html = browser.html
soup = bs(html,"html.parser")

In [16]:
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text

Mars Facts

In [17]:
facts_url = 'https://space-facts.com/mars/'
browser.visit(facts_url)
html = browser.html
soup = bs(html,"html.parser")

In [18]:
facts = pd.read_html(facts_url)
table = facts[0]
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
table.columns = ['Parameter','Values']

In [20]:
table['Values'] = table.Values.apply(str)
table['Parameter'] = table.Parameter.apply(str)

In [21]:
table

              Parameter                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
table = table.set_index(['Parameter'])

In [23]:
clean_table = table.to_html()

In [24]:
clean_table = clean_table.replace('\n','')
clean_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [3]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [10]:
divs = soup.find_all('div', class_='item')
divs[1]

<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>

In [26]:
hem_url_dict = []
url_beginning = 'https://astrogeology.usgs.gov/'

for div in divs:
    title = div.find('h3').text
    
    image = div.find('img', class_='thumb')
    src = image['src']
    img_url = url_beginning + src
    
    hem_url_dict.append({'title':title, 'img_url':img_url})
    
    
    print(hem_url_dict)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}]
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png'}]
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png'}]
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}]